<div class="page-title">PLAN YOUR MOBILITY</div>
<div class="container">
    <div class="back-btn">
        <div routerLink="/routes"><img src="assets/icons/arrow.svg" alt=""></div>
        <div routerLink="/routes">BACK</div>
    </div>
    <div class="grid-container">
        <div class="item">
            <div class="article-img"><img src="assets/routes-img/article-1.png" alt=""></div>
            <div class="info">
                <div class="article-title">TRADE OR SAVE?</div>
                <div class="data">Tips you should know on how to best manage your Commuter Coins.</div>
                <div class="article-link data">Click to read the article</div>
            </div>
        </div>
        <div class="item">
            <div class="article-img"><img src="assets/routes-img/article-2.png" alt=""></div>
            <div class="info">
                <div class="article-title">BIKE vs. SCOOTER</div>
                <div class="data">We compared the most popular green transport means, here are the results.</div>
                <div class="article-link data">Click to read the article</div>
            </div>
        </div>
        <div class="item">
            <div class="article-img"><img src="assets/routes-img/article-3.png" alt=""></div>
            <div class="info">
                <div class="article-title">CO2 EMISSIONS</div>
                <div class="data">What's your real impact when prioritizing public transports.</div>
                <div class="article-link data">Click to read the article</div>
            </div>
        </div>
        <div class="item">
            <div class="article-img"><img src="assets/routes-img/article-4.png" alt=""></div>
            <div class="info">
                <div class="article-title">ON YOUR HANDS</div>
                <div class="data">The best mobility apps to find the greenest way to commute.</div>
                <div class="article-link data">Click to read the article</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>