<div class="main-container">
    <div class="sub-container">
        <div><a routerLink="/home" routerLinkActive="blueBg" [routerLinkActiveOptions]="{exact: true}"><div class="icon icon-house"></div></a></div>
        <div><a routerLink="/notifications" routerLinkActive="blueBg" [routerLinkActiveOptions]="{exact: true}"><div class="icon icon-bell"></div></a></div>
    </div>
    <div class="center-item">
        <div class="center-item-div" routerLink="/rewards" routerLinkActive="blueBgBtn" >
            <a><div class="icon icon-medal"></div></a>
        </div>
    </div>
    <div class="sub-container">
        <div><a routerLink="/leaderboards" routerLinkActive="blueBg" [routerLinkActiveOptions]="{exact: true}"><div class="icon icon-prize"></div></a></div>
        <div><a routerLink="/routes" routerLinkActive="blueBg" [routerLinkActiveOptions]="{exact: false}"><div class="icon icon-chat"></div></a></div>
    </div>
</div>