<div>
    <div class="page-title">QR CODE</div>
    <div class="back-btn">
        <div routerLink="/rewards"><img src="assets/icons/arrow.svg" alt=""></div>
        <div routerLink="/rewards">BACK</div>
    </div>
    <div class="text">Scan the QR Code to claim reward</div>
    <div class="qr-code">
        <img src="assets/qr-code.png" alt="">
    </div>
    <div class="text">The QR code will be automatically detected when you position it between the guide lines</div>
    <div class="sync">
        <img src="assets/sync.png" alt="">
    </div>
</div>
<app-footer></app-footer>