.container {
    padding: 20px;
    padding-top: 40px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 16px;
    margin-bottom: 20px;
    height: 85px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
}
.icon-container {
    display: flex;
    justify-content: center;
}
.page-title {
    margin-bottom: 30px;
}