<div class="container">
    <div class="page-title">PLAN YOUR MOBILITY</div>
    <div class="flex-container">
        <div class="item">
            <div class="icon-container"><img src="assets/icons/park-and-ride.svg" alt=""></div>
            <div>PARK AND RIDE</div>
        </div>
        <div class="item">
            <div class="icon-container"><img src="assets/icons/cycle.svg" alt=""></div>
            <div>CYCLE YOUR WAY TO WORK</div>
        </div>
        <div class="item">
            <div class="icon-container"><img src="assets/icons/metro.svg" alt=""></div>
            <div>LET'S GO METRO!</div>
        </div>
        <div class="item">
            <div class="icon-container"><img src="assets/icons/bus.svg" alt=""></div>
            <div>SOMEONE STOP THAT BUS</div>
        </div>
        <div class="item">
            <div class="icon-container"><img src="assets/icons/car.svg" alt=""></div>
            <div>HOP IN, WE'RE GOING TO WORK!</div>
        </div>
        <div class="item" routerLink="articles">
            <div class="icon-container"><img src="assets/icons/lightbulb.svg" alt=""></div>
            <div>ARTICLES ON MOBILITY</div>
        </div>
    </div>
</div>
<app-footer></app-footer>
