.main {
    padding: 20px;
}
.first-container {
    background-color: white;
    border-radius: 16px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.points {
    font-size: 28px;
    color: var(--red);
}
.points span {
    margin-left: 10px;
}
.text {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 10px;
}
.points-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}