<div class="form" [formGroup]="form">
    <div class="main-container" id="reg-container" *ngIf="showForm">
        <div class="form">
            <input type="text" name="" id="person-name" placeholder="NAME" formControlName="userName">
            <input type="number" name="" id="person-uid" placeholder="UID" formControlName="IdUID">
            <button class="login-btn" type="button" (click)="goToUniversitySelection()" [disabled]="!form.get('userName').value || !form.get('IdUID').value"  [ngClass]="!form.get('userName').value || !form.get('IdUID').value ? 'cancel-btn' : 'login-btn'">ENTER</button>
        </div>
    </div>
    <div id="college-container" *ngIf="showCollege" class="main-div">
        <div>Please select your organization:</div>
        <div class="grid-container">
            <div *ngFor="let college of colleges" class="college">
                <div><img src="{{college.image}}" alt="" id="image{{college.id}}" (click)="chooseCollege(college.id)"></div>
                <div>{{college.name}}</div>
            </div>
        </div>
        <div>
            <button class="login-btn back-btn" type="button" (click)="goToForm()">GO BACK</button>
        </div>
    </div>
    <div id="persona-container" *ngIf="showPersona" class="main-div">
        <div>Please select your persona:</div>
        <div class="grid-container">
            <div *ngFor="let persona of personas" class="persona">
                <div><img src="{{persona.image}}" alt="" id="imagePersona{{persona.id}}" (click)="choosePersona(persona.id)"></div>
                <div>{{persona.name}}</div>
            </div>
        </div>
        <div>
            <button class="login-btn" type="button" (click)="sendToDB()" [disabled]="!selectedPersona"  [ngClass]="!selectedPersona ? 'cancel-btn' : 'login-btn'">REGISTER</button>
        </div>
        <div>
            <button class="login-btn back-btn" type="button" (click)="goToUniversitySelection()">GO BACK</button>
        </div>
    </div>
</div>

<!-- TODO Popup message -->
<!-- <div class="alert" *ngIf="wasItAsked">
    <div class="inner" >
        <div>Are your registration details correct and would you like to continue?</div>
        <div>
            <button type="button" class="login-btn confirmation-btn" (click)="sendToDB()">Yes</button>
            <button type="button" class="login-btn confirmation-btn" (click)="closePopUp()">No</button>
        </div>
    </div>
</div> -->
<!-- END TODO Popup message -->
<div class="thanks-message" *ngIf="showThanks"> 
    <div>Thank you!</div>
</div>