<div>
    <div>HOME</div>
    <div class="banner">
        <div>img</div>
        <div>Hello, Maria!</div>
    </div>
    <div class="grid-container">
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
    </div>
</div>
<app-footer></app-footer>