<div class="container" (click)="hideAllData()">
    <div class="page-title">HOME</div>
    <div class="banner">
        <div><img src="assets/home-picture.png" alt=""></div>
        <div>Hello, Maria!</div>
    </div>
    <div class="grid-container">
        <div class="item points">
            <div>
                <div class="number-points">61 <span>points</span></div>
                <div class="points-subtitle">You are 39 points away from getting your next reward!</div>
            </div>
            <div><img src="assets/points-circle.png" alt=""></div>
        </div>
        <div class="item grid-item">
            <div>
                <div class="number-points">543 <span><img src="assets/icons/star.svg" alt=""></span></div>
                <div class="points-subtitle">Points redeemed so far</div>
            </div>
        </div>
        <div class="item grid-item">
            <div>
                <div class="number-points">18 <span><img src="assets/icons/coffee.svg" alt=""></span></div>
                <div class="points-subtitle">Cups of coffee claimed</div>
            </div>
        </div>
        <div class="item grid-item">
            <div>
                <div class="number-points">32</div>
                <div class="points-subtitle">The number of times you've used the new bike shelter</div>
            </div>
        </div>
        <div class="item grid-item">
            <div>
                <div class="number-points">1 <span>day</span></div>
                <div class="points-subtitle">Of day-off achieved so far</div>
            </div>
        </div>
        <div class="item grid-item" (click)="preventDefault($event)">
            <div *ngIf="!showBackData1" (click)="toggleData(1)">
                <div class="number-points tons">0.0495 <span>tons</span></div>
                <div class="points-subtitle">Of C02 saved this week</div>
            </div>
            <div *ngIf="showBackData1" class="back-data">
                This is the equivalent of a flight from Dublin to São Paulo.
            </div>
        </div>
        <div class="item grid-item" (click)="preventDefault($event)">
            <div *ngIf="!showBackData2" (click)="toggleData(2)">
                <div class="number-points">1.7 <span>tons</span></div>
                <div class="points-subtitle">Of C02 saved since you joined</div>
            </div>
            <div *ngIf="showBackData2" class="back-data">
                If everyone on your friends list saves the same amount, you could travel around the world 7.05 times on an electric train.
            </div>
        </div>
        <div class="item grid-item">
            <div>
                <div class="number-points">67 <span>days</span></div>
                <div class="points-subtitle">Of being the best sustainable you! New record!</div>
            </div>
        </div>
        <div class="item grid-item">
            <div>
                <div class="number-points">1 <span>day</span></div>
                <div class="points-subtitle">Of day-off achieved so far</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>