<div class="container">
    <div class="page-title">HOME</div>
    <div class="banner">
        <div><img src="assets/home-picture.png" alt=""></div>
        <div>Hello, Maria!</div>
    </div>
    <div class="grid-container">
        <div class="item points">
            <div>
                <div class="number-points">61 <span>points</span></div>
                <div class="points-subtitle">You are 39 points away from getting your next reward!</div>
            </div>
            <div><img src="assets/points-circle.png" alt=""></div>
        </div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
    </div>
</div>
<app-footer></app-footer>