body  {
    background-color: var(--red);
}
.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.logo {  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100px;
  /*   background-color: var(--pastel-orange);
    mask: url(/assets/logo-xp.png) no-repeat center; */
}
.logo img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}