<div class="page-title">REDEMPTION PAGE</div>
<div class="back-btn">
    <div routerLink="/rewards"><img src="assets/icons/arrow.svg" alt=""></div>
    <div routerLink="/rewards">BACK</div>
</div>
<div class="container">
    <div class="text">Your reward request has been filed.</div>
    <div class="text">Your reward claimed.</div>
    <div class="carousel-item" routerLink="/rewards/reward-code">
        <div><img src="assets/icons/fork.svg" alt=""></div>
        <div class="reward-container">
            <div class="reward">+1h ON LUNCH BREAK</div>
            <div class="reward-points">150 Commuter Coins</div>
        </div>
    </div>
    <div class="text">Your reward is pending. The icon below will update when request is processed</div>
    <div class="sync">
        <img src="assets/icons/question-mark.svg" alt="">
    </div>
</div>
<app-footer></app-footer>