.page-title {
    padding-top: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.item {
    background-color: var(--blue);
    border-radius: 16px;
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.arrow-icon {
    transform: rotate(180deg);
}
.person-img {
    padding-right: 10px;
}
.person-img img {
    width: 40px;
    height: 40px;
    border-radius: 999px;
}
.data {
    color: white;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.date {
    display: flex;
    gap: 5px;
}
.message, .date {
    color: var(--dark-blue);
    font-size: 10px;
}