<div class="page-title">NOTIFICATIONS</div>
<div class="container">
    <div class="item" routerLink="/leaderboards">
        <div class="person-img"><img src="assets/leaderboard-pics/person-4.png" alt=""></div>
        <div class="data">
            <div>Gabriela Poynter</div>
            <div class="message">Sent you a friend request</div>
        </div>
        <div class="date">{{current_time}} <span><img src="assets/icons/arrow.svg" class="arrow-icon" alt=""></span></div>
    </div>
    <div class="item">
        <div class="person-img"><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
        <div class="data">
            <div>Luke Jonas</div>
            <div class="message">Invited you to join "Online Sales Team" leaderboard.</div>
        </div>
        <div class="date">yesterday <span><img src="assets/icons/arrow.svg" class="arrow-icon" alt=""></span></div>
    </div>
    <div class="item">
        <div class="person-img"><img src="assets/summit-icon.png" alt=""></div>
        <div class="data">
            <div>SUMMIT REMINDER</div>
            <div class="message">Started tracking your location. Get ready to your com...</div>
        </div>
        <div class="date">yesterday <span><img src="assets/icons/arrow.svg" class="arrow-icon" alt=""></span></div>
    </div>
    <div class="item">
        <div class="person-img"><img src="assets/leaderboard-pics/person-5.png" alt=""></div>
        <div class="data">
            <div>Ronny Fletcher</div>
            <div class="message">Accepted your invitation to join "Lunch Mates" leader...</div>
        </div>
        <div class="date">last week <span><img src="assets/icons/arrow.svg" class="arrow-icon" alt=""></span></div>
    </div>
    <div class="item">
        <div class="person-img"><img src="assets/leaderboard-pics/person-2.png" alt=""></div>
        <div class="data">
            <div>Harry Stevens</div>
            <div class="message">Accepted your friend request.</div>
        </div>
        <div class="date">last week <span><img src="assets/icons/arrow.svg" class="arrow-icon" alt=""></span></div>
    </div>
    <div class="item">
        <div class="person-img"><img src="assets/summit-icon.png" alt=""></div>
        <div class="data">
            <div>SUMMIT REMINDER</div>
            <div class="message">Tracked your location from 18:00 until 18:30. </div>
        </div>
        <div class="date">last week <span><img src="assets/icons/arrow.svg" class="arrow-icon" alt=""></span></div>
    </div>
</div>
<app-footer></app-footer>