.leaderboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: auto;
}
.leaderboard {
    width: 100%;
    background-color: white;
    color: black;
}
.title, .subtitle {
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.subtitle {
    font-size: 22px;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: var(--light-yellow);
    color: black;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid var(--pink);
}
.subtitle div {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 28%;
}
.main {
    background-color: var(--pink);
    border-radius: 16px;
    color: var(--white);
    font-size: 12px;
    width: 95%;
    padding: 10px;
    max-width: 900px;
    position: relative;
    margin-top: 30px;
}
.leaderboard .uni:nth-child(odd) {
    background-color: var(--light-yellow);
}
.uni {
    display: grid;
    grid-template-columns: 50px 2fr 6fr 1fr;
    gap: 10px;
    font-size: 20px;
    padding: 8px;
    align-items: center;
}
.uni img {
    border-radius: 20px;
    width: 25px;
    height: 25px;
}
.score {
    margin-left: auto;
}
.icon-prize {
    background-color: black;
    cursor: default;
}
.leaderboard-header {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    margin: 10px 0;
    color: black;
    font-size: 14px;
}
.leaderboard-header div:first-of-type {
    margin-right: 10px;
}
.leaderboard-header div:last-of-type {
    margin-left: auto;
}
.uni div:first-of-type {
    margin-right: 20px;
}
.uni:first-of-type {
    height: 80px;
}
.uni:first-of-type .position, .uni:nth-child(2) .position, .uni:nth-child(3) .position {
    visibility: hidden;
}
.uni:nth-child(2), .uni:nth-child(3) {
    height: 60px;
}
.uni:nth-child(2) img, .uni:nth-child(3) img {
    width: 35px;
    height: 35px;
}
.uni:first-of-type img {
    width: 50px;
    height: 50px;
}
.uni:first-of-type .icon-crown, .uni:nth-child(2) .icon-crown, .uni:nth-child(3) .icon-crown {
    position: absolute;
    top: -10px;
    right: -14px;
    margin: 0;
    transform: rotate(45deg);
    background-color: var(--pink);
    font-size: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding-top: 10px;
}
.uni:nth-child(2) .icon-crown, .uni:nth-child(3) .icon-crown {
    width: 30px;
    height: 30px;
    top: -15px;
    right: -7px;
}
.img-container {
    position: relative;
    width: 55px;
    display: flex;
    justify-content: center;
}
.second-grid {
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (min-width: 500px) {
     .main {
        padding: 20px;
     }
}