<div class="leaderboard-container">
    <div class="main">
        <div class="header">
<!--             <div class="title">University Leaderboard</div>
 -->            <div class="subtitle">
                <div class="icon icon-prize"></div>
                <div>Current champion is UNIVERSITY X</div>
            </div>
        </div>
        <div class="leaderboard-header">
            <div>Position</div>
            <div>University</div>
            <div>Average score</div>
        </div>
        <div class="leaderboard" id="uni-leaderboard">
            <div class="uni">
                <div>1</div>
                <div><img src="assets/leaderboard-pics/person-3.png" alt=""></div>
                <div>Trinity</div>
                <div class="score">34</div>
            </div>
            <div class="uni">
                <div>2</div>
                <div><img src="assets/leaderboard-pics/person-2.png" alt=""></div>
                <div>Oxford</div>
                <div class="score">23</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">24</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">34</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div>3</div>
                <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                <div>Maynooth</div>
                <div class="score">234</div>
            </div>
        </div>
    </div>
    
</div>