.leaderboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: auto;
}
.leaderboard {
    width: 100%;
    background-color: white;
    color: black;
}
.title, .subtitle {
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.subtitle {
    font-size: 34px;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: var(--light-blue);
    color: black;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid var(--blue);
}
.subtitle div {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
}
.main {
    background-color: var(--blue);
    border-radius: 16px;
    color: var(--white);
    font-size: 12px;
    width: 100%;
    padding: 10px;
    max-width: 1100px;
    position: relative;
    margin-top: 30px;
}
.leaderboard .uni:nth-child(odd) {
    background-color: var(--light-blue);
}
.uni {
    display: grid;
    grid-template-columns: 50px 4fr 3fr 2fr;
    gap: 10px;
    font-size: 30px;
    padding: 8px;
    align-items: center;
    height: 80px;
}
.uni img {
    border-radius: 999px;
    background-color: white;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
.score {
    margin-left: auto;
}
.leaderboard-header {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    margin: 10px 0;
    color: black;
    font-size: 22px;
}
.leaderboard-header div:first-of-type {
    margin-right: 10px;
}
.leaderboard-header div:last-of-type {
    margin-left: auto;
}
.uni:first-of-type {
    height: 160px;
    font-size: 45px;
}
.uni:first-of-type, .uni:nth-child(2), .uni:nth-child(3) {
    font-weight: 600;
} 
.uni:nth-child(2), .uni:nth-child(3) {
    height: 120px;
    font-size: 35px;
}
.uni:nth-child(2) img, .uni:nth-child(3) img {
    width: 60px;
    height: 60px;
}
.uni:first-of-type img {
    width: 70px;
    height: 70px;
}
.position {
    text-align: center;
}
.uni:first-of-type .icon-crown, .uni:nth-child(2) .icon-crown, .uni:nth-child(3) .icon-crown {
    position: absolute;
    top: -20px;
    right: -28px;
    margin: 0;
    transform: rotate(45deg);
    background-color: var(--blue);
    font-size: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding-top: 10px;
}
.uni:nth-child(2) .icon-crown, .uni:nth-child(3) .icon-crown {
    top: -25px;
    right: -25px;
}
.uni:nth-child(1) .icon-crown, .icon-prize-filled {
    background-color: #FFD700;
}
.uni:nth-child(2) .icon-crown {
    background-color: #C0C0C0;
}
.uni:nth-child(3) .icon-crown {
    background-color: #CD7F32;
}
.img-container {
    position: relative;
    width: 55px;
    display: flex;
    justify-content: center;
}
.second-grid {
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon {
    cursor: default;
}
.icon-stars, .icon-leaderboard, .icon-people {
    background-color: var(--blue);
}
.icon-leaderboard {
    margin-left: 10px;
}
.average-score {
    display: flex;
    gap: 10px;
    align-items: center;
}
.people {
    text-align: end;
}
.people, .score {
    justify-content: center;
    display: flex;
    width: 100%;
}
.icon-people {
    margin-right: 5px;
}
.teammates {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 5%;
}
.icon-prize-filled {
    width: 50px;
    height: 50px;
}
@media (min-width: 500px) {
     .main {
        padding: 20px;
        padding-top: 30px;
     }
}