<div class="leaderboard-container">
    <div class="main">
        <div class="header">
<!--             <div class="title">University Leaderboard</div>
 -->            <div class="subtitle">
                <div class="icon icon-prize-filled"></div>
                <div>CURRENT CHAMPION X</div>
            </div>
        </div>
        <div class="leaderboard-header">
            <div class="icon icon-leaderboard"></div>
            <div class="teammates">
                <div>Teammates registered</div>
                <div class="icon icon-people"></div>
            </div>
            <div class="average-score">Average score <div class="icon icon-stars"></div></div>
        </div>
        <div class="leaderboard" id="uni-leaderboard">
            <div class="uni">
                <div class="position">1</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/colleges/college-logo-1.png" alt=""> <div class="icon icon-crown">1</div></div>
                    <div>Trinity</div>
                </div>
                <div class="people">3</div>
                <div class="score">34</div>
            </div>
            <div class="uni">
                <div class="position">2</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-2.png" alt=""><div class="icon icon-crown">2</div></div>
                    <div>Oxford</div>
                </div>
                <div class="people">3</div>
                <div class="score">23</div>
            </div>
            <div class="uni">
                <div class="position">3</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown">3</div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">24</div>
            </div>
            <div class="uni">
                <div class="position">4</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">34</div>
            </div>
            <div class="uni">
                <div class="position">5</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
          <!--   <div class="uni">
                <div class="position">6</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div class="position">7</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div class="position">8</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div class="position">9</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div class="position">10</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div class="position">11</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div class="position">12</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div>
            <div class="uni">
                <div class="position">13</div>
                <div class="second-grid">
                    <div class="img-container"><img src="assets/leaderboard-pics/person-1.png" alt=""><div class="icon icon-crown"></div></div>
                    <div>Maynooth</div>
                </div>
                <div class="people">3</div>
                <div class="score">234</div>
            </div> -->
        </div>
    </div>
    
</div>