body  {
    background-color: var(--red);
}
.recover-password {
    font-size: 12px;
    color: var(--red);
    cursor: pointer;
}
.second-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}