<form class="main-container" [formGroup]="form">
    <div class="form">
        <input type="text" name="" id="" placeholder="NAME" formControlName="userName">
        <input type="number" name="" id="" placeholder="Participant Number" formControlName="password">
        <button class="login-btn" (click)="sendData()" type="button">LOGIN</button><!-- sendData() -->
    </div>
    <div class="second-form">
        <div class="recover-password">FORGOT MY PASSWORD</div>
    </div>
</form>
<div class="alert" id="alert">
    <div>Username and password combination not recognized</div>
</div>
