<div class="first-container">
    <div class="page-title">LEADERBOARDS</div>
    <div class="grid-container">
        <div class="first-item">
           <div class="first-item-number">61</div>
           <div>Your current personal score</div>
        </div>
        <div class="item">
            <div class="item-number">52</div>
            <div>Company's average current score</div>
        </div>
        <div class="item">
            <div class="item-number">79</div>
            <div>Your best score</div>
        </div>
    </div>
    <div class="flex-container">
        <div routerLink="/how-it-works">How it works</div>
        <div>Create new leaderboard</div>
    </div>
</div>
<div class="sections">
    <div class="section" (click)="toggleLeaderboards('leaderboards')">
        <div [ngClass]="!leaderboards ? 'grey-title' : 'black-title'">LEADERBOARDS</div>
        <div class="underline" *ngIf="leaderboards"></div>
    </div>
    <div class="section" (click)="toggleLeaderboards('friends')">
        <div [ngClass]="leaderboards ? 'grey-title' : 'black-title'">FRIENDS</div>
        <div class="underline" *ngIf="!leaderboards"></div>
    </div>
</div>
<div class="main">
    <div class="leaderboards" *ngIf="leaderboards">
        <div class="leaderboards-container">
            <div class="leaderboard-container">
                <div class="leaderboard-data">
                    <div class="leaderboard-pic"><img src="assets/leaderboard-pics/lunch-mates.png" alt=""></div>
                    <div class="leaderboard-info">
                        <div class="leaderboard-title">Lunch Mates</div>
                        <div class="leaderboard-position" (click)="showLeaderboard('lunch')">Your current position: 7 
                            <svg class="arrow" id="lunch-arrow" width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.32431 5.11502L11.3833 0.0575104L12.3644 1.03825L6.32431 7.0765L0.284249 1.03825L1.26528 0.0575104L6.32431 5.11502Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="leaderboard" id="lunch-leaderboard" *ngIf="showLunchLeaderboard">
                    <div class="person">
                        <div><img src="assets/leaderboard-pics/person-3.png" alt=""></div>
                        <div>1</div>
                        <div>Maria Rodriguez</div>
                    </div>
                    <div class="person">
                        <div><img src="assets/leaderboard-pics/person-2.png" alt=""></div>
                        <div>2</div>
                        <div>Harry Stevens</div>
                    </div>
                    <div class="person">
                        <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                        <div>3</div>
                        <div>Luke Jones</div>
                    </div>
                </div>
            </div>
            <div class="leaderboard-container">
                <div class="leaderboard-data">
                    <div class="leaderboard-pic"><img src="assets/leaderboard-pics/online-sales-team.png" alt=""></div>
                    <div class="leaderboard-info">
                        <div class="leaderboard-title">Online Sales Team</div>
                        <div class="leaderboard-position" (click)="showLeaderboard('online-sales')">Your current position: 1 
                            <svg class="arrow" id="online-sales-arrow" width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.32431 5.11502L11.3833 0.0575104L12.3644 1.03825L6.32431 7.0765L0.284249 1.03825L1.26528 0.0575104L6.32431 5.11502Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="leaderboard" id="online-sales-leaderboard" *ngIf="showOnlineSalesLeaderboard">
                    <div class="person">
                        <div><img src="assets/leaderboard-pics/person-3.png" alt=""></div>
                        <div>1</div>
                        <div>Maria Rodriguez</div>
                    </div>
                    <div class="person">
                        <div><img src="assets/leaderboard-pics/person-2.png" alt=""></div>
                        <div>2</div>
                        <div>Harry Stevens</div>
                    </div>
                    <div class="person">
                        <div><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
                        <div>3</div>
                        <div>Luke Jones</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="friends" *ngIf="!leaderboards">
        <div class="friend">
            <div class="person"><img src="assets/leaderboard-pics/person-4.png" alt=""></div>
            <div class="person-name">Gabriela Poynter</div>
            <div class="action-buttons">
                <div routerLink="/notifications">ACCEPT REQUEST</div>
                <div>DENY REQUEST</div>
            </div>
        </div>
        <div class="friend">
            <div class="person"><img src="assets/leaderboard-pics/person-1.png" alt=""></div>
            <div class="person-name">Luke Jones</div>
        </div>
        <div class="friend">
            <div class="person"><img src="assets/leaderboard-pics/person-5.png" alt=""></div>
            <div class="person-name">Ronny Fletcher</div>
        </div>
        <div class="friend">
            <div class="person"><img src="assets/leaderboard-pics/person-2.png" alt=""></div>
            <div class="person-name">Harry Stevens</div>
        </div>
    </div>
</div>
<app-footer></app-footer>