
<div class="page-title">HOW IT WORKS</div>
<div class="back-btn">
    <div routerLink="/leaderboards"><img src="assets/icons/arrow.svg" alt=""></div>
    <div routerLink="/leaderboards">Back</div>
</div>
<div class="main">
    <div class="text">
        The STEP solution helps you understand the true impact your behaviour has and makes it clear what actions you can take to improve, providing key insights in order to put this change into action - thus creating the opportunity for change.
    </div>
    <div>
        <img src="assets/explanation.jpeg" alt="">
    </div>
</div>
<app-footer></app-footer>